
@{
    ViewBag.Title = "notConfirmed";
}

<h2>Not Confirmed</h2>
<div class="container">
    <p class="text-center" style="width:100%;padding:20px;font-size:large">not confirmed there is an error occured please  try again or register again</p>
</div>

