
@{
    ViewBag.Title = "success";
}

<h2>success</h2>

<div class="container">
    <p class="text-center" style="width:100%;padding:20px;font-size:large"><b>Registered Successfully</b>,we send a confirmation email for you, please check your e-mail</p>
</div>
